.text-center{ text-align: center;}
.fade td{ opacity: 0.5; }
.filter-container{ display: flex; flex-direction: row;}

.search-container {
    display: flex;
    margin-top: 10px;
}

.search-container input[type="text"] {
}

.search-container button {
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center {
    text-align: center;
}

.button-large{
    width: 300px;
    height: 100px;
    line-height: 100px;
    font-size: 2em;
}

.hiden{ display: none !important; }

button.active{ background-color: #ccc; color: #FFF; }
.row{ display: flex; flex-direction: row; }
.buttons-container{ margin-left: 0;}

.filter-container select{ flex: 1; display: flex; }